--extra-index-url https://download.pytorch.org/whl/nightly/cu128

torch
torchvision
torchaudio
accelerate~=1.8.1
fastapi[standard]==0.115.12
huggingface-hub[hf_transfer]==0.33.1
pydantic==2.11.4
safetensors==0.5.3
sentencepiece==0.2.0
transformers==4.53.0
Pillow~=11.2.1
